        
            </div>  <!-- inner-container -->
        </div> <!-- ui-container -->
        <footer class="my-footer">
            <div class="credits">
                <p class="project-name">© Typing Dash  -  Created by <a href="#">Somaan Shakeel</a></p>
            </div>
        </footer>
    </body>
</html>