<% include ../partials/header.ejs %>

    <div class="home-container">
        <h1>Test Your Typing Speed!</h1>
        <p>It Takes <strong>60 seconds!</strong> <br>Sign In to Save and Track your Progress</p>
        <div class="home-page-btns">
            <a id="home-start-test-btn" href="/test">Start Test</a>
            <!-- <a id="home-sign-in-btn" href="/auth/login">Sign In</a> -->
            <a id="home-sign-in-btn" href="/auth/register">Sign Up</a>
        </div>
    </div>

<% include ../partials/footer.ejs %>

